.msg { 
    @include list-style(none);
    margin-bottom: 70px;
}

.user-chat-msg{
    @extend .msg;
    position: fixed;
    overflow: scroll;
    padding: 0;
    top: 12%;
    width:100vw;
    height: 79vh;
    overflow-x: hidden;

    li { padding: 5px 10px;}

    li:nth-child(odd){ background: #eee; }
}
